html {
    scroll-behavior: smooth;
}

body {
    background-color: #FDFBF7;
    color: #2C2C2C;
    overflow-x: hidden;
}

.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CHỈ desktop mới fixed */
@media (min-width: 768px) {
  .parallax {
    background-attachment: fixed;
  }
}
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FDFBF7;
}

::-webkit-scrollbar-thumb {
    background: #800020;
    border-radius: 4px;
}

.typewriter {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}